$gradient_from: #065704CC;
$gradient_to: #10C102CC;

$gradient2_from: #10C102;
$gradient2_to: #065704;

$accent: #065704;
$highlight: #0BBA09;
$light_highlight: lighten($highlight, 30%);

$navbar_background: $accent;