$gradient_from: darken(#8FC831,15%); //#065704CC;
$gradient_to: #98D03B; //#10C102CC;

$gradient2_from: darken(#27B3F1,10%); // #10C102;
$gradient2_to: #27B3F1;

$accent: #333;//#8FC831; //#065704;
$highlight: #8FC831; //#0BBA09;
$light_highlight: lighten($highlight, 30%);

$navbar_background: #32363A; //#EEE; //$accent; 