$gradient_from: #3C0876CC;
$gradient_to: #FA0076CC;

$gradient2_from: #9477b4;
$gradient2_to: #fc73b4;

$accent: #633991;
$highlight: #f5378e;
$light_highlight: lighten($highlight, 30%);

$navbar_background: $accent;