$gradient_from: #000000;
$gradient_to: darken(#FF2D68CC, 20%);

$gradient2_from: darken(#FF0611, 20%);
$gradient2_to: darken(#FF357D, 20%);

$accent: #110B0E; //darken(#591c26,10%); //111111;
$highlight: #000000; //darken(#FF2D68CC, 10%); //#FF193E;
$light_highlight: lighten($highlight, 30%);

$navbar_background: #111111CC;//$accent;